<section class="u-clearfix u-white u-section-2" id="carousel_7ab3">
  <% _.each(commento, function(c, index, commento){ %>
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-13 u-layout-cell-1">
            <div class="u-container-layout u-container-layout-1">
              <div alt="" class="u-image u-image-circle u-image-1" src="" data-image-width="256" data-image-height="256"></div>
            </div>
          </div>
          <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-47 u-layout-cell-2">
            <div class="u-container-layout u-container-layout-2">
              <% _.each(autore, function(a, index, autore){ %>
              <h2 class="u-text u-text-default u-text-1"><%= a.name%> <%= a.surname%>
                <a href=""><span class="del-list btn-danger"><i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg></i></span>
                </a>
              </h2>
              <% }); %>
              <p class="u-text u-text-2"> <%=c.testo %></p>

            </div>
          </div>
        </div>
      </div>
    </div><span class="u-file-icon u-icon u-text-grey-25 u-icon-1"><a href="../chefskiss2/Update/like/<%=c.idCommento%>"><img src="../chefskiss2/asset/images/up.png" alt=""></a></span>
    <p class="u-align-center u-large-text u-text u-text-variant u-text-3"><%= c.upVote%></p>
  </div>
  <% }); %>
</section>
<section class="u-align-center u-clearfix u-valign-middle u-white u-section-3" id="sec-6f28">
  <div class="u-align-center u-container-style u-group u-palette-1-base u-shape-rectangle u-group-1">
    <div class="u-container-layout u-container-layout-1">
      <h2 class="u-subtitle u-text u-text-default u-text-1">
            <span style="font-weight: 700;">Vuoi partecipare anche tu alla conversazione ?<br>
            </span>
        <br>
      </h2>
      <h4 class="u-text u-text-2">Lascia qui il tuo commento...</h4>
    </div>
  </div>
  <div class="u-form u-form-1">
    <form action="../chefskiss2/Insert/pubblicaCommento/<%= idPost %>" method="POST" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 15px;" source="custom" name="form">
      <div class="u-form-group u-form-message u-label-none u-form-group-2">
        <label for="message-6797" class="u-label">Commento</label>
        <textarea placeholder="Commento" rows="4" cols="50" id="message-6797" name="commento" class="u-border-1 u-border-grey-30 u-input u-input-rectangle" required=""></textarea>
      </div>
      <div class="u-align-center u-form-group u-form-submit u-form-group-3">
        <button type="submit" id="submit" class="u-btn u-btn-round u-btn-submit u-button-style u-radius-30">Invia</button>
      </div>
      <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
      <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
      <input type="hidden" value="" name="recaptchaResponse">
    </form>
  </div>
</section>
<section class="u-clearfix u-white u-section-4" id="sec-c57a">
  <div class="u-clearfix u-sheet u-sheet-1"></div>
</section>