<footer class="u-clearfix u-custom-color-2 u-footer" id="sec-ad7c"><div class="u-clearfix u-sheet u-sheet-1">
  <a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="500" data-image-height="192">
    <img src="images/Chefskiss2.png" class="u-logo-image u-logo-image-1">
  </a>
</div></footer>
<section class="u-backlink u-clearfix u-grey-80">
  <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
    <span>Website Templates</span>
  </a>
  <p class="u-text">
    <span>created with</span>
  </p>
  <a class="u-link" href="" target="_blank">
    <span>Website Builder Software</span>
  </a>. 
</section>