<script>document.getElementById('file_css').setAttribute('href', 'asset/css/Forum.css')</script>
<section class="u-align-center u-clearfix u-white u-section-1" id="sec-7c09">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-form u-form-1">
      <form action="#" method="POST" class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form" style="padding: 10px" source="custom" name="form">
        <div class="u-form-email u-form-group u-form-group-1">
          <label for="email-2555" class="u-form-control-hidden u-label u-label-1">Email</label>
          <input type="email" placeholder="Cerca una domanda per partecipare ad una discussione" id="email-2555" name="ricerca_ricetta" class="u-border-4 u-border-grey-10 u-grey-10 u-input u-input-rectangle u-radius-50" required="">
        </div>
        <div class="u-align-left u-form-group u-form-submit">
          <a href="#" class="u-active-white u-border-4 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-palette-1-base u-btn u-btn-round u-btn-submit u-button-style u-hover-white u-palette-1-base u-radius-50 u-btn-1">Search<br>
          </a>
          <input type="submit" value="submit" class="u-form-control-hidden">
        </div>
        <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
        <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
        <input type="hidden" value="" name="recaptchaResponse">
      </form>
    </div>
    <div class="u-expanded-width u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div class="u-align-left u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-border-2 u-border-palette-1-base u-custom-item u-file-icon u-icon u-icon-circle u-spacing-10 u-text-palette-1-base u-icon-1"><img src="../chefskiss2/asset/images/1.2.png" alt=""></span>
            <p class="u-large-text u-text u-text-default u-text-palette-1-base u-text-variant u-text-2">Antipasti</p>
          </div>
        </div>
        <div class="u-align-center u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-border-2 u-border-palette-1-base u-custom-item u-file-icon u-icon u-icon-circle u-spacing-10 u-text-palette-1-base u-icon-2"><img src="../chefskiss2/asset/images/2.png" alt=""></span>
            <p class="u-large-text u-text u-text-default u-text-palette-1-base u-text-variant u-text-2">Primi</p>
          </div>
        </div>
        <div class="u-align-center u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-border-2 u-border-palette-1-base u-custom-item u-file-icon u-icon u-icon-circle u-spacing-10 u-text-palette-1-base u-icon-3"><img src="../chefskiss2/asset/images/3.png" alt=""></span>
            <p class="u-large-text u-text u-text-default u-text-palette-1-base u-text-variant u-text-3">Secondi</p>
          </div>
        </div>
        <div class="u-align-center u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-container-layout-4"><span class="u-border-2 u-border-palette-1-base u-custom-item u-file-icon u-icon u-icon-circle u-spacing-10 u-text-palette-1-base u-icon-4"><img src="../chefskiss2/asset/images/4.png" alt=""></span>
            <p class="u-large-text u-text u-text-default u-text-palette-1-base u-text-variant u-text-4">Contorni</p>
          </div>
        </div>
        <div class="u-align-center u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-container-layout-5"><span class="u-border-2 u-border-palette-1-base u-custom-item u-file-icon u-icon u-icon-circle u-spacing-10 u-text-palette-1-base u-icon-5"><img src="../chefskiss2/asset/images/5.png" alt=""></span>
            <p class="u-large-text u-text u-text-default u-text-palette-1-base u-text-variant u-text-5">Dessert</p>
          </div>
        </div>
        <div class="u-align-center u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-container-layout-6"><span class="u-border-2 u-border-palette-1-base u-custom-item u-file-icon u-icon u-icon-circle u-spacing-10 u-text-palette-1-base u-icon-6"><img src="../chefskiss2/asset/images/6.png" alt=""></span>
            <p class="u-large-text u-text u-text-default u-text-palette-1-base u-text-variant u-text-6">Salse</p>
          </div>
        </div>
      </div>
    </div>
    <div class="u-border-1 u-border-grey-60 u-line u-line-horizontal u-line-1"></div>
  </div>
</section>
<section class="u-clearfix u-white u-section-2" id="sec-c0e7">
  <div class="u-clearfix u-sheet u-sheet-1" id="post-widget">
    
  </div>
</section>