<script>document.getElementById('file_css').setAttribute('href', 'asset/css/Post_forum.css')</script>
<section class="u-clearfix u-white u-section-1" id="sec-afef">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-container-style u-layout-cell u-left-cell u-size-13 u-layout-cell-1" >
            <div class="u-container-layout u-container-layout-1">
              <% if(immagine[0]!=undefined){%>
              <img alt="" class="u-image u-image-circle u-image-1" src="data:<%= immagine[0].tipo %>;base64,<%= immagine[0].immagine %>" data-image-width="256" data-image-height="256">
              <% } else{ %>
                <img alt="" class="u-image u-image-circle u-image-1" src="../chefskiss2/asset/images/defaultUser.png" data-image-width="256" data-image-height="256">
              <% }; %>
            </div>
          </div>
          <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-47 u-white u-layout-cell-2">
            <div class="u-container-layout u-valign-bottom u-container-layout-2">
              <h2 class="u-text u-text-1"><%=post[0].titolo %></h2>
              <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn"><b>...</b>
                </button>
                <div id="myDropdown" class="dropdown-content">
                  <a href="#">Elimina Post</a>
                </div>
              </div>
              <% _.each(utente, function(u, index, utente){ %>
              <a href="index.html#/ProfiloUtente/<%= u.idUser%>"> <h5 class="u-text u-text-2"><%= u.name %> <%= u.surname %></h5></a>
              <% }); %>

              <p class="u-text u-text-3"><%=post[0].domanda %></p>
              <div class="u-border-1 u-border-grey-50 u-line u-line-horizontal u-line-1"></div>
              <div class="u-border-1 u-border-grey-60 u-line u-line-horizontal u-line-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

