<section class="u-clearfix u-white u-section-2" id="sec-3e7b">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h6 class="u-align-center u-text u-text-3"><%= nRicette %> </h6>
        <h5 class="u-align-center u-text u-text-4">Ricette pubblicate:&nbsp;</h5>
    </div>
</section>

<section class="u-clearfix u-white u-section-3" id="sec-4402">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
      <div class="u-expanded-width u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <% _.each(ricette, function(ricetta, index, ricette){ %>
          <div class="u-container-style u-image u-list-item u-repeater-item u-shading u-image-1" data-image-width="2000" data-image-height="1333">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
              <h3 class="u-text u-text-default u-text-1"><%= ricetta.nomeRicetta %></h3>
              <p class="u-text u-text-default u-text-2"><%= ricetta.categoria %> | <%= ricetta.dosiPersone %> dosi | <%= ricetta.valutazione %> stelle</p>
              <p class="u-text u-text-default u-text-2"><%= ricetta.data %></p>
            </div>
          </div>
          <% }); %>
        </div>
    </div>
  </div>
</section>