<section class="u-clearfix u-image u-section-1" id="sec-9d75" data-image-width="1280" data-image-height="853">
  <div class="u-clearfix u-sheet u-sheet-1"></div>
</section>
<section class="u-clearfix u-white u-section-2" id="sec-3e7b">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-image u-image-circle u-preserve-proportions u-image-1" alt="" data-image-width="1280" data-image-height="853"></div>
    <h1 class="u-text u-text-default u-text-1">Nome utente<br>
    </h1>
    <p class="u-align-center u-small-text u-text u-text-variant u-text-2">
      <span style="font-size: 1.25rem;">Ruolo</span>
    </p>
    <h6 class="u-align-center u-text u-text-3">N </h6>
    <h5 class="u-align-center u-text u-text-4">Ricette pubblicate:&nbsp;</h5>
  </div>
</section>
<section class="u-clearfix u-white u-section-3" id="sec-4402">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="u-expanded-width u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div class="u-container-style u-image u-list-item u-repeater-item u-shading u-image-1" data-image-width="2000" data-image-height="1333">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
            <h3 class="u-text u-text-default u-text-1">Sample Headline</h3>
            <p class="u-text u-text-default u-text-2">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
          </div>
        </div>
        <div class="u-container-style u-image u-list-item u-repeater-item u-shading u-image-2" data-image-width="2000" data-image-height="1333">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
            <h3 class="u-text u-text-default u-text-3">Sample Headline</h3>
            <p class="u-text u-text-default u-text-4">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
          </div>
        </div>
        <div class="u-container-style u-image u-list-item u-repeater-item u-shading u-image-3" data-image-width="2000" data-image-height="1333">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
            <h3 class="u-text u-text-default u-text-5">Sample Headline</h3>
            <p class="u-text u-text-default u-text-6">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
          </div>
        </div>
        <div class="u-container-style u-image u-list-item u-repeater-item u-shading u-image-4" data-image-width="2000" data-image-height="1333">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
            <h3 class="u-text u-text-default u-text-7">Sample Headline</h3>
            <p class="u-text u-text-default u-text-8">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
          </div>
        </div>
        <div class="u-container-style u-image u-list-item u-repeater-item u-shading u-image-5" data-image-width="2000" data-image-height="1333">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
            <h3 class="u-text u-text-default u-text-9">Sample Headline</h3>
            <p class="u-text u-text-default u-text-10">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
          </div>
        </div>
        <div class="u-container-style u-image u-list-item u-repeater-item u-shading u-image-6" data-image-width="2000" data-image-height="1333">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-6">
            <h3 class="u-text u-text-default u-text-11">Sample Headline</h3>
            <p class="u-text u-text-default u-text-12">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
          </div>
        </div>
        <div class="u-container-style u-image u-list-item u-repeater-item u-shading u-image-7" data-image-width="2000" data-image-height="1333">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-7">
            <h3 class="u-text u-text-default u-text-13">Sample Headline</h3>
            <p class="u-text u-text-default u-text-14">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
          </div>
        </div>
        <div class="u-container-style u-image u-list-item u-repeater-item u-shading u-image-8" data-image-width="2000" data-image-height="1333">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-8">
            <h3 class="u-text u-text-default u-text-15">Sample Headline</h3>
            <p class="u-text u-text-default u-text-16">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
          </div>
        </div>
        <div class="u-container-style u-image u-list-item u-repeater-item u-shading u-image-9" data-image-width="2000" data-image-height="1333">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-9">
            <h3 class="u-text u-text-default u-text-17">Sample Headline</h3>
            <p class="u-text u-text-default u-text-18">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>