<script>document.getElementById('file_css').setAttribute('href', 'asset/css/Profilo.css')</script>
<section class="u-clearfix u-image u-section-1" id="sec-9d75" data-image-width="1280" data-image-height="853">
    <div class="u-clearfix u-sheet u-sheet-1"></div>
</section>
<section class="u-clearfix u-white u-section-2" id="sec-3e7b">
    <div class="u-clearfix u-sheet u-sheet-1">
        <% if(utente.idImmagine!= 0){%>
            <img class="u-image u-image-circle u-preserve-proportions u-image-1" alt="" src="data:<%= immagine.tipo %>;base64,<%= immagine.immagine %>" data-image-width="1280" data-image-height="853">
        <% } else{ %>
            <img alt="" class="u-image u-image-circle u-image-1" src="../chefskiss2/asset/images/defaultUser.png" data-image-width="256" data-image-height="256">
          <% }; %>
        <h1 class="u-text u-text-default u-text-1"><%= utente.name %> <%= utente.surname %>
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn"><b>...</b>
                </button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="#">Banna utente</a>
                    <a href="#">Ripristina utente</a>
                </div>
            </div>
        </h1>
        <br>
        <h4 class="u-text u-text-default u-text-1"><%= utente.description %> </h4>
        <p class="u-align-center u-small-text u-text u-text-variant u-text-2">
            <span style="font-size: 1.25rem;"><%= utente.discr %></span>
        </p>
    </div>
</section>


