<section class="u-clearfix u-white u-section-4" id="sec-d761">
  <div class="u-clearfix u-sheet u-valign-top u-sheet-1">
    <h1 class="u-text u-text-1"><u>Recensioni</u></h1>
  </div>
</section>
<section class="u-clearfix u-grey-15 u-section-5" id="carousel_73b3">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="u-form u-form-1">
      <form action="../chefskiss2/Insert/pubblicaRecensione/<%= idRicetta %>" method="POST" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" source="custom" name="form" style="padding: 10px;">
        <div class="u-form-group u-form-message">
          <fieldset class="rating">
            <input type="radio" id="star5" name="valutazione" value="5" /><label for="star5" title="Ottimo">5 stars</label>
            <input type="radio" id="star4" name="valutazione" value="4" /><label for="star4" title="Notevole">4 stars</label>
            <input type="radio" id="star3" name="valutazione" value="3" checked="checked" /><label for="star3" title="Buono">3 stars</label>
            <input type="radio" id="star2" name="valutazione" value="2" /><label for="star2" title="Non è il massimo">2 stars</label>
            <input type="radio" id="star1" name="valutazione" value="1" /><label for="star1" title="Sconsigliato">1 star</label>
          </fieldset>
          <label for="message-4c18" class="u-form-control-hidden u-label u-text-body-alt-color"></label>
          <textarea placeholder="Lascia una recensione" rows="4" cols="50" id="message-4c18" name="recensione" class="u-border-2 u-border-grey-30 u-grey-5 u-input u-input-rectangle u-radius-13" required=""></textarea>
        </div>
        <div class="u-align-right u-form-group u-form-submit">
          <button type="submit" id="submit" class="u-btn u-btn-round u-btn-submit u-button-style u-radius-30">Invia</button>
        </div>
        <div class="u-form-send-message u-form-send-success"> Il tuo commento è stato inviato </div>
        <div class="u-form-send-error u-form-send-message"> Non è stato possibile inviare il tuo commento. Riprova </div>
        <input type="hidden" value="" name="recaptchaResponse">
      </form>
    </div>
  </div>
</section>
<section class="u-clearfix u-white u-section-6" id="sec-6ec4">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-expanded-width u-list u-list-1">
      <% _.each(recensione, function(r, index, recensione){ %>
        <div class="u-container-style u-grey-10 u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-container-layout-1">
            <% _.each(autore, function(a, index, autore){ %>
            <h4 class="u-text u-text-default u-text-1"><%= a.name%> <%= a.surname%>
              <%for (i = 1; i <=r.valutazione; i++) {%>
              <img src="../chefskiss2/asset/images/1828970.png" width="30" height="30">
              <% } %>
            </h4>
            <img class="u-image u-image-circle u-preserve-proportions u-image-1" src="data:<%= immagine[index].get('0').tipo %>;base64,<%= immagine[index].get('0').immagine %>" alt="" data-image-width="1280" data-image-height="1280">
            <% }); %>
            <p class="u-text u-text-default u-text-2"><%= r.commento %>
              <a href=""><span class="del-list btn-danger"><i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg></i></span>
              </a>
            </p>
          </div>
        </div>
      <br>
      <% }); %>
    </div>
  </div>
</section>