<script>document.getElementById('file_css').setAttribute('href', 'asset/css/Ricette.css')</script>
<section class="u-align-center u-clearfix u-white u-section-1" id="sec-0dfc">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-form u-form-1">
      <div class="u-clearfix u-form-horizontal u-form-spacing-10 u-inner-form" style="padding: 10px" source="custom" name="form">
        <div class="u-form-email u-form-group u-form-group-1">
          <input type="text" placeholder="Conosci già il nome della ricetta? Inseriscilo qui" id="Text" class="u-border-4 u-border-grey-10 u-grey-10 u-input u-input-rectangle u-radius-50" required="">
        </div>
        <div class="u-align-left u-form-group u-form-submit">
          <button id="searchText" class="u-active-white u-border-4 u-border-active-palette-1-base u-border-hover-palette-1-base u-border-palette-1-base u-btn u-btn-round u-btn-submit u-button-style u-hover-white u-palette-1-base u-radius-50 u-btn-1">Search<br>
          </button>
          <input type="submit" value="submit" class="u-form-control-hidden">
        </div>
      </div>
    </div>
    <div class="u-expanded-width u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <% _.each(categorie, function(categoria, index, categorie){ %>
        <div class="u-align-left u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-border-2 u-border-palette-1-base u-custom-item u-file-icon u-icon u-icon-circle u-spacing-10 u-text-palette-1-base u-icon-1"><img src="../chefskiss2/asset/images/<%= categoria.idImmagine %>.png" alt=""></span>
            <a href="index.html#/Ricette/0/Categoria=<%= categoria.idCategoria %>"><p class="u-large-text u-text u-text-default u-text-palette-1-base u-text-variant u-text-2"><%= categoria.categoria %></p>
          </div></a>
        </div>
        <% }); %>
      </div>
    </div>
  </div>
</section>
<section class="u-clearfix u-white u-section-2" id="sec-9744">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-border-1 u-border-palette-5-dark-1 u-line u-line-horizontal u-line-1"></div>
    <div class="u-expanded-width u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <% _.each(ricette, function(ricetta, index, ricette){ %>
        <div class="u-container-style u-image u-list-item u-repeater-item u-shading u-image-9" data-image-width="2000" data-image-height="1333">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-9">
            <h3 class="u-text u-text-default u-text-1"><%= ricetta.nomeRicetta %></h3>
            <p class="u-text u-text-default u-text-2"><%= ricetta.categoria %> | <%= ricetta.dosiPersone %> dosi | <%= ricetta.valutazione %> stelle</p>
            <p class="u-text u-text-default u-text-2"><%= ricetta.data %></p>
          </div>
        </div>
        <% }); %>
        <% for(let index = _.size(ricette); index < 9; index++){ %>
          <div class="u-container-style u-image u-list-item u-repeater-item u-shading u-image-9" data-image-width="2000" data-image-height="1333">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-9">
              <h3 class="u-text u-text-default u-text-1"></h3>
              <p class="u-text u-text-default u-text-2"></p>
              <p class="u-text u-text-default u-text-2"></p>
            </div>
          </div>
        <% }; %>
      </div>
    </div>
    <% if(page == 0 && nextPage != false){ %> 
      <a href="#/Ricette/<%=nextPage%>/<%=search%>" class="u-active-palette-1-base u-border-2 u-border-hover-palette-1-base u-border-palette-1-base u-btn u-btn-round u-button-style u-hover-palette-1-base u-none u-radius-50 u-text-grey-60 u-btn-1">next&nbsp;&nbsp;<span class="u-file-icon u-icon u-text-grey-70"><img src="../chefskiss2/asset/images/7.png" alt=""></span>
      </a>
    <% } else if(page > 0 && nextPage == false){ %>
      <a href="#/Ricette/<%=previousPage%>/<%=search%>" class="u-active-palette-1-base u-border-2 u-border-hover-palette-1-base u-border-palette-1-base u-btn u-btn-round u-button-style u-hover-palette-1-base u-none u-radius-50 u-text-grey-60 u-btn-1"><span class="u-file-icon u-icon"><img src="../chefskiss2/asset/images/8.png" alt=""></span>&nbsp;back
      </a>
    <% } else if(page > 0 && nextPage != false){ %>
      <a href="#/Ricette/<%=previousPage%>/<%=search%>" class="u-active-palette-1-base u-border-2 u-border-hover-palette-1-base u-border-palette-1-base u-btn u-btn-round u-button-style u-hover-palette-1-base u-none u-radius-50 u-text-grey-60 u-btn-1"><span class="u-file-icon u-icon"><img src="../chefskiss2/asset/images/8.png" alt=""></span>&nbsp;back
      </a>
      <a href="#/Ricette/<%=nextPage%>/<%=search%>" class="u-active-palette-1-base u-border-2 u-border-hover-palette-1-base u-border-palette-1-base u-btn u-btn-round u-button-style u-hover-palette-1-base u-none u-radius-50 u-text-grey-60 u-btn-2">next&nbsp;&nbsp;<span class="u-file-icon u-icon u-text-grey-70"><img src="../chefskiss2/asset/images/7.png" alt=""></span>
      </a>
    <% }; %>
  </div>
</section>